# 首先排除自己, 因为每个人情况不一样,单独配置
.gitignore

/.idea/

!/.claude/
!/.claude/commands/
/.claude/commands/创建技能.md
/.claude/commands/创建指令.md
/.claude/commands/english-first.md
/.claude/commands/first-cn-zh.md
/.claude/commands/first-cn-tw.md

/.claude/sessions/

!/.claude/skills/
/.claude/skills/obsidian-markdown/
/.claude/skills/obsidian-bases/
/.claude/skills/json-canvas/
/.claude/skills/first-cn-zh/
/.claude/skills/first-cn-tw/
