# 首先排除自己, 因为每个人情况不一样,单独配置
.gitignore

/knowledge-para/.idea/

!/knowledge-para/.obsidian/
/knowledge-para/.obsidian/app.json
/knowledge-para/.obsidian/appearance.json
/knowledge-para/.obsidian/core-plugins.json
/knowledge-para/.obsidian/workspace.json

!/.obsidian/plugins/
